.colorSelect{
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    &__title{
        width: 100%;
    }
    &__text{
        font-size: 0.85rem;
        margin-bottom: 5px;
        color: #ffffff;
    }
    &__left{
        flex: 1 1 auto;
        width: 60%;
        align-self: center;
    }
    &__right{
        flex: 1 1 auto;
        width: 40%;
    }
    &__preset{
        margin-right: 5px;
        div{
            top: unset !important;
            display: none !important;
        }
    }
}