.editorAction{
    &__main{
    }
    &__card{
        &:hover{
            box-shadow: 0 0 10px 0px #ececec;
        }
        border-radius: 10px;
        // padding: 1rem 0rem;
        border: 1px solid #ffffff;
        text-align: center;
        hr{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
            border: 0;
            border-top: 1px solid;
            opacity: 1;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            color: white;
        }
    }
    &__name{
        font-size: 0.65rem;
        color: #ffffff;
        
    }
    &__icon{
        padding-top: 1rem;
        font-size: 2rem;
        color: #ffffff;
    }
}