.finishSelect{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    &__title{
        width: 100%;
        text-align: center;
    }
    &__text{
        font-size: 0.85rem;
        margin-bottom: 5px;
        color: #ffffff;
    }
    &__group{
        text-align: center;
        margin-left: auto;
        width: 100%;
        margin-right: auto;
    }
    &__matte{
        border-radius: 20px  !important;
        margin-right: 5px;
    }
    &__gloss{
        &::before{
            display: none !important;
            inset-inline-start: unset !important;
            background-color: unset !important;
        }
        border-radius: 20px !important;
        margin-left: 5px;
        border-left: unset !important;
    }
}