.noteInput{
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    &__title{
        width: 40%;

    }
    &__badge{
        margin-bottom: 0.75rem;
        width: 50%;
        text-align: right;
        &-details{
            .ant-badge-count{
                font-size: 0.65rem !important;
            }
        }
    }
    &__text{
        font-size: 0.75rem;
        margin-bottom: 5px;
        color: #ffffff;
    }
    &__subtext{
        margin-bottom: 5px;
        color: #ffffff;
    }
    &__container{
        flex: 1 1 auto;
        width: 100%;
        align-self: center;
    }
}