.ant-message{
    z-index: 99999999;
}
.ant-upload-icon{
    span{
        color: white !important;
    }
    
}
.ant-upload-list-item-name{
        color: white !important;
}
.ant-upload-list-item-actions{
    span{
        color: white !important;
    }
}
@media screen and (min-width: 768px) {
    .designer-form__container .row > *{
        padding: 0 !important;
    }    
}
.designer-form{
    &__main{
        width: 65%;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
        margin-left: auto;
        margin-right: auto;
        .ant-form-item-label{
            padding: 0 !important;
            text-align: center !important;
            font-weight: 700;
            font-family: 'Roboto', sans-serif !important;
            text-transform: uppercase;
            label{
                height: auto !important;
            }
        }
        .ant-upload-wrapper .ant-upload-select{
            width: 100%;
        }
    }
    &__company{
        padding-top: 1rem;
        &-title{
            &-text{
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.5rem;
            }
        }
        &-info{
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid #ffffff;
            &:last-child{
                // padding-bottom: 0rem;
                margin-bottom: 0rem;
                border-bottom: unset;
            }
            &-title{
                &-text{
                    color: #ffffff;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 1.25rem; 
                    margin-bottom: 0 !important;
                }

            }
            &-link{

                &-text{
                    color: #ffffff;
                    text-decoration: 'underline';
                }
            }
            &-text{
                color: #ffffff;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 1.5rem;
            }
        }
    }
    &__container{
        // width: 50%;
    }
    &__row{
        &-title{
            text-align: center;
            margin: 1rem 0;
        }
        &-info{
            padding: 1rem 0;
            @media screen and (max-width: 768px) {
                padding: 0;
            }
            margin-bottom: 1.25rem;
            border-bottom: 1px solid #fff;
            &-text{
                font-size: 1.25rem;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
    &__title{
        color: white;
        font-weight: 700;
        @media screen and (max-width: 768px) {
            font-size: 1.5rem;
        }
        border-bottom: 1px solid white;
        padding-bottom: 0.5rem;
        margin-bottom: 0.75rem;
    }
    &__text{
        font-size: 0.75rem;
        color: white;
    }
    &__submit{
        height: auto;
        width: 100%;
        text-transform: uppercase;
        border-radius: 8px;
        padding: 0.5rem 2rem;
    }
    &__state{
        &-container{
            label{
                // text-align: center;
                display: block;
            }
        }
    }
    &__license{
        &-container{
            text-align: center;
            label{
                text-align: center;
            }
            &-info{
                display: block;
                color: white;
                font-size: 0.85rem;
                font-style: italic;
                margin: 0.5rem 0;
            }
        }
    }
    &__details{
        &-container{
            text-align: center;
            label{
                text-align: center;
            }
        }
    }
    &__summary{
        &-info{
            display: block;
            color: white;
            font-size: 0.85rem;
            font-style: italic;
            margin: 0.5rem 0;
        }
    }
    label:not(.ant-radio-button-wrapper){
        display: block !important;
        color: white !important;
        font-weight: 500 !important;
    }
    &__order{
        border-top: 1px solid #ffffff;
        background-color: #000000;
        position: sticky;
        padding-top: 1rem;
        bottom: 0;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        &--button{
            display: block;
            // padding: 0.85rem 0.5rem;
            // text-decoration: none;
            // font-family: 'Roboto', sans-serif !important;
            // background-color: #FFD800;
            // border-radius: 20px;
            // font-size: 1.25rem;
            // color: #000000;
            // height: auto;
            width: 45%;
            @media screen and (max-width: 768px) {
                width: 70%;
            }

            font-weight: 700;
            text-transform: uppercase;
            align-self: center;
            text-align: center;

            margin: auto;
            font-size: 1.25rem;
            box-shadow: 0 0 10px 2px #000000;
            background: linear-gradient(108deg, #dfb450, rgb(0 0 0) 83.15%);
            text-transform: uppercase;
            text-decoration: none !important;
            font-weight: 600;
            color: #ffffff;
            /* border-top-left-radius: 20px; */
            /* border-bottom-right-radius: 20px; */
            padding: 0.65rem;
            /* border: 1px solid #747474; */
            border-radius: 5px;
            border: 1px solid;
            @media screen and (max-width: 768px) {
                font-size: 0.75rem;   
            }
            border-image-slice: 1;
            border-image-source: linear-gradient(118.14deg, #d1a94b 1.68%, rgba(255, 10, 10, 0.01) 85.78%, rgba(255, 255, 255, 0) 88.3%);
    
            &.disabled{
                color: #ffffff;
                background: #000000;
                pointer-events: none !important;
                border: 1px solid #ffffff;
                cursor: not-allowed;
            }
            &-final{
                font-family: 'Roboto', sans-serif !important;
                background-color: #FFD800;
                border-radius: 20px;
                font-size: 1.25rem;
                color: #000000;
                height: auto;
                width: 100%;
                font-weight: 700;
                padding: 0.5rem 0;
                text-transform: uppercase;
                align-self: center;
                &:disabled{
                    color: #ffffff;
                    background-color: #000000;
                }
            }
        }
        &--price{
            text-align: right;
            color: #ffffff;
            font-size: 1.65rem;
            font-weight: 600;
        }
        &__action{
            text-align: center;
            label{
                font-size: 0.85rem;
            }
            .ant-checkbox-inner{
                width: 20px;
                height: 20px;
            }
            .ant-checkbox-input:focus+.ant-checkbox-inner {
                border: 1px solid red !important;
                -webkit-box-shadow: 0 0 8px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0);
                box-shadow: 0 0 8px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0);
            }
            // .ant-checkbox-inner::after {
            //     width: 20px !important;
            //     height: 20px !important;
            //  }
    
        }
        &-row-details{
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            @media screen and (max-width: 768px) {
                width: 100%;            
            }
        }
        &-row-order{
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            @media screen and (max-width: 768px) {
                width: 100%;            
            }
        }
    }
}

label:not(.ant-radio-button-wrapper){
    color: white !important;

}
input.ant-input{
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
textarea.ant-input{
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
input.ant-input:focus{
    // background-color: transparent;
    color: white;
    // box-shadow: 0 0 0 0.25rem hsla(0, 0%, 95%, 0.334);
}
textarea.ant-input{
    background-color: transparent;
    color: white;
}
.ant-select-selection-search-input{
    // background-color: black !important;
    color: white !important;
}
.ant-select-selector{
    background-color: black !important;
    color: white !important;
    border: 2px solid white !important;
}
.ant-select-arrow .ant-select-suffix{
    color: white;
}
.ant-select-selection-placeholder {
  color: #ffffff !important;
}
.ant-input-affix-wrapper{
    background-color: black !important;
    color: white !important;
    border: 2px solid white !important;
}
.ant-input{
    color: white !important;
}

