// Swiper adjustments
.swiper-pagination-bullet{
    background-color: white !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active{
    background-color: black !important;
    opacity: 1 !important;
}
.swiper-pagination{
    display: none !important;
    bottom: 0px !important;
    @media screen and (max-width: 495px) {
        bottom: 0px !important;
        display: none !important;
    }
}
.mySwiper{
    padding-bottom: 25px !important;
    .swiper-pagination{
        bottom: 0px !important;
    }
    .swiper-pagination-bullet{
        background-color: black !important;
        opacity: 1 !important;
    }
    .swiper-pagination-bullet-active{
        background-color: black !important;
        opacity: 1 !important;
    }
}
.slider{
    &__container{
        padding: 4rem 0;
        @media screen and (max-width: 414px) {
            margin-bottom: 1.5rem;
        }
    }
    &__images{
        padding: 0 !important;
        .slider__row-title{
            margin-top: -10px !important;
        }
    }
    &__img{
        display: block !important;
        object-fit: cover !important;
        position: relative !important;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        color: transparent;
        border-radius: 30px;
    }
    &__title{
        color: white;
        text-align: center;
        font-weight: 600;
    }
    &__row{
        @media screen and (max-width: 414px) {
            padding: 0 1rem;
        }
        &-title{
            // margin-bottom: 3rem;
            @media screen and (max-width: 414px) {
                // margin-bottom: 1.5rem;
            }
    
        }
    }
}

.swiper-button-next, .swiper-button-prev{
    &:after, &:before{
        color:  black;
        font-size: 1.5rem !important;
        font-weight: 800;
    }
    background-color: white;
    border-radius: 10px;
    width: 6% !important;
    @media screen and (max-width: 512px) {
        display: none !important;
    }
}