.plates{
    &__container{
        padding: 4rem 0;
        @media screen and (max-width: 414px) {
            // padding: 1rem 0;
            padding-right: unset;
            padding-top: 2rem;
            padding-bottom: 1rem;
            padding-left: unset;
        }
    }
    &__title{
        font-weight: 600;
        color: white;
        text-align: center;
        &-container{
            margin-bottom: 3rem; 
            @media screen and (max-width: 414px) {
                margin-bottom: 1rem;
            }
        }
    }
    &__image{
        
        border-radius: 20px;
        @media screen and (max-width: 414px) {
            border-radius: 5px;
        }
        &-container{
            text-align: center;
            .plates__image{
                @media screen and (max-width: 991px) {
                    width: 275px;
                    height: 145px;
                }
                @media screen and (max-width: 768px) {
                    width: 200px;
                    height: 110px;
                }
                @media screen and (max-width: 605px) {
                    width: 195px;
                    height: 105px;
                }
                @media screen and (max-width: 432px) {
                    width: 125px;
                    height: 65px;
                }
            }
            :last-child{
                .plates__image{
                    -webkit-box-shadow:0px 0px 30px 1px rgba(255,255,255,0.9);
                    -moz-box-shadow: 0px 0px 30px 1px rgba(255,255,255,0.9);
                    box-shadow: 0px 0px 30px 1px rgba(255,255,255,0.9);
                }
            }
            
        }
        &-type{
            margin: 1.5rem;
            color: white;
        }
    }
}