.sticky{
    &__container{
        position: sticky;
        bottom: 0;
        z-index: 1000;
        padding: 1rem;
        background-color: #000000;
        border-top: 1px solid #ffffff;
        &-inner{
            display: flex;
            flex-flow: row wrap;
        }
        &.hide{
            display: none;
        }
        &.show{
            // display: flex;
        }
    }
    &__buttons{
        width: 50%;
        text-align: center;
        box-shadow: 0 0 10px 2px #000000;
        background: linear-gradient(108deg, #dfb450, #f02c2c00 83.15%);
        text-transform: uppercase;
        text-decoration: none !important;
        font-weight: 600;
        color: #ffffff;
        /* border-top-left-radius: 20px; */
        /* border-bottom-right-radius: 20px; */
        padding: 0.65rem;
        /* border: 1px solid #747474; */
        border-radius: 5px;
        border: 1px solid;
        font-size: 0.75rem;
        border-image-slice: 1;
        border-image-source: linear-gradient(118.14deg, #d1a94b 1.68%, rgb(255 10 10 / 1%) 85.78%, rgba(255, 255, 255, 0) 88.3%);
    }
    &__getstarted{
        width: 100% !important;        
    }
}

.add--sticky{
    position: sticky !important;
}