.logo{
    &-bg__container{
        position: absolute;
        align-self: center;
        z-index: 4;
    }
    &__container{
        position: absolute;
        align-self: center;
        z-index: 5;
        img{
            height: auto;
            width: 150px;
            @media screen and (max-width: 475px) {
                max-width: 150px;
            }
            object-fit: contain;
        }
    }
    &-bottom{
        &__container{
            position: absolute;
            align-self: center;
            z-index: 6;
            img{
                height: auto;
                width: 150px;
                @media screen and (max-width: 475px) {
                    max-width: 150px;
                }
                object-fit: contain;
            }
        }
    }
}
