.placeOrder{
    color: #0093FF;
    &__container{
        background-color: #000000;
        position: sticky;
        padding-top: 1rem;
        bottom: 0;
        left: 0;
        right: 0;
        max-width: 515px;
    }
    &__row {
        &-terms{
            &-final{
                padding-bottom: 0.5rem;
            }
        }
        &-details{
            &-final{
                text-align: center;
            }

        }
        &-order{
            padding-top: 0.5rem;
            padding-bottom: 0.75rem;
        }
    }
    &__details{
        &-final{
            text-align: center;
            padding-bottom: 1rem;
        }
    }
    &__terms{
        text-align: center;
    }
    &__total{
        color: #ffffff;
        text-align: left;
    }

    &__price {
        color: #ffffff;
        text-align: right;
        font-size: 1.75rem;
        @media screen and (max-width: 768px) {
            font-size: 1.45rem;
        }
        &-final{
            color: #ffffff;
            text-align: center !important;
        }
    }
    &__action{
        // text-align: center;
        label{
            font-size: 0.65rem;
        }
        .ant-checkbox-inner{
            width: 20px;
            height: 20px;
        }
        .ant-checkbox-input:focus+.ant-checkbox-inner {
            border: 1px solid red !important;
            -webkit-box-shadow: 0 0 8px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0);
            box-shadow: 0 0 8px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0);
        }
        // .ant-checkbox-inner::after {
        //     width: 20px !important;
        //     height: 20px !important;
        //  }

    }

    &__button {
        text-align: center;
        display: block;
        padding: 0.85rem 0.5rem;
        text-decoration: none;
        font-family: 'Roboto', sans-serif !important;
        background-color: #FFD800;
        border-radius: 20px;
        font-size: 1rem;
        color: #000000;
        height: auto;
        width: 100%;
        font-weight: 700;
        text-transform: uppercase;
        align-self: center;
        &.disabled{
            color: #ffffff;
            background-color: #000000;
            pointer-events: none !important;
            border: 1px solid #ffffff;
            cursor: not-allowed;
        }
        &-final{
            font-family: 'Roboto', sans-serif !important;
            background-color: #FFD800;
            border-radius: 20px;
            font-size: 1.25rem;
            color: #000000;
            height: auto;
            width: 100%;
            font-weight: 700;
            padding: 0.5rem 0;
            text-transform: uppercase;
            align-self: center;
            &:disabled{
                color: #ffffff;
                background-color: #000000;
            }
        }
    }
}